<div class="inline-flex flex-col space-y-2 items-start justify-start">
    <img class="w-full" src="https://source.unsplash.com/random/900×700/?cabin"/>
    <div class="flex flex-col items-start justify-start w-full">
        <p class="w-full text-lg font-medium leading-7 text-gray-900">Phoenix Baker</p>
        <div class="inline-flex space-x-1.5 items-center justify-start w-full">
            <img class="w-4 h-2/3 rounded-full" src="https://images.unsplash.com/profile-1606730560655-b1b7d2b39c90image?dpr=2&auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff"/>
            <p class="flex-1 text-base leading-normal text-gray-500">Diana Simumpan</p>
        </div>
    </div>
</div>